#configureation file for holding runtime configurations and parameters

# ---Pipeline Execution Parameters---
exec:
  #name of the output directory
  outdir: 'sniffle_files'
  #name of the logfile
  logfile: 'sniffle_logs.log'
  #reference sequence used for mapping
  referenceSequence: "A_Hong_Kong_4801_2014_EPI834581.fasta"
  #minimum average depth after mapping
  minimumAverageDepth: 100
  #percent of reference bases covered
  percentRefCovered: 100

  # ---pipeline processes---

  #variant calling using VarScan
  callSNPs: True
  #consensus generation using VarScan
  generateConsensus: True
  #map the reads to the consensus sequence using bowtie2
  mapToConsensus: True

  # ---data cleaning---

  #this occurs before variant calling, such that variant calling
  #will use normalized sam/bam file

  #coverage depth normalization using bbnorm
  #normalize coverage across the sam or bam file to a set coverage depth
  normalizeCoverage: True
  coverageNormDepth: 1000

# ---Quality Trimming Parameters---
trimmomatic:
  #remove adapter sequences from the reads
  removeAdapters: False
  #adapter file name included in trimmomatic
  adaptersFileName: "Nextera_XT_adapter.fa"
  #paired end reads
  paired: True
  #minmial read length
  minlength: 100
  #sliding window size for quality trim
  windowSize: 5
  #quality threashold for trim in sliding window
  qscore: 20

# ---Single Nucelotide Polymorhpism Calling Parameters---
snpcalling:
  #minimum coverage for SNP
  minCoverage: 100
  #minimum quality for SNP
  snpQualityThreshold: 30
  #minimum frequency for SNP
  snpFrequency: 0.01
  #minimum frequency for a consensus SNP in generating the consensus sequence
  consensusFrequency: 0.50
